* {
    margin: 0;
    padding: 0;
}

html, body {
    height: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(../img/background-natal.png);
    background-size: contain;
    transition: 1.5s;
     /*
    background: rgb(70,62,62);
    background: linear-gradient(0deg, rgba(70,62,62,1) 29%, rgba(169,143,113,1) 68%);
    */
    color: white;
        
}

.avatar {
    width: 180px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(48, 48, 48);
    }
h2 {
    font-size: 25px;
    color: rgb(255, 255, 199);
    text-align: center;
    margin: 10px 0;
}

h3 {
    font-size: 25px;
    color: rgb(255, 255, 199);
    text-align: center;
    margin: 10px 0;
    
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px 0;
    
}

.social img {
    width: 50px;
    margin: 10px;
}

.link-list li {
    margin: 10px 20px;
}

.container {
    margin: 20px;
    list-style: none;
}

.link-list {
    display: block;
    background: rgb(241, 241, 213);
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #7d0f0f;
    font-weight: bold;
    
}


.contato a {
    display: block;
    background: rgb(241, 241, 213);
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(36, 105, 255);
    font-weight: bold;
}
.contato a span {
    color: grey;
    display: block;
    margin-top: 10px;
        
}

.foto-bolo {
    width: 100%;
    border-radius: 8px;
    
}

footer {
    background: rgb(11, 111, 23);
    text-align: center;
    padding: 10px;
}


